<h1>キャラクター作成</h1>

<%= form_with model: @player, url: characters_path do |f| %>
  <div>
    <%= f.label :name_kana, "なまえ（カタカナ）" %><br>
    <%= f.text_field :name_kana %>
  </div>

  <div>
    <%= f.label :gender, "せいべつ" %><br>
    <%= f.select :gender,
          Player.genders.keys.map { |g| [g, g] },
          {}, {} %>
    <%# male / female / unknown が選べる %>
  </div>

  <div style="margin-top: 16px;">
<%= f.submit "次へ",
      class: "btn"
%>
  </div>
<% end %>
