<!DOCTYPE html>
<html>
  <head>
    <title>Liberationofthesoul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
<body>
  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <header class="site-header">
    Liberation of the Soul
  </header>

  <main class="site-main">
    <%= yield %>
  </main>

  <footer class="site-footer">
    © 2025 Liberation of the Soul
  </footer>
</body>
</html>
